@import url("main.css");
.body{
    -fx-pref-width: 500;
    -fx-pref-height: 400;
}
.text-field{
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-focus-traversable: true;
    -fx-background-radius: 10px;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-border-width: 1;

}
.text-field:focused{
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-focus-traversable: true;
    -fx-background-radius: 10px;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-border-width: 1;

}
.label{
    -fx-font-size: 18px;
    -fx-padding: 5px;
    -fx-label-padding: 5px;
    -fx-alignment: baseline-right;
    -fx-font-family: "B Koodak";
}
.button{
    -fx-font-size: 24px;
    -fx-font-family: "B Koodak";
    -fx-background-color: #231f20;
    -fx-text-fill: #fff200;
    -fx-pref-height: 44px;
    -fx-pref-width: 100;
    -fx-start-margin: 10;
    -fx-end-margin: 10;
    -fx-padding: 6px;
}
.buttonA{
    -fx-font-size: 24px;
    -fx-font-family: "B Koodak";
    -fx-background-color: #231f20;
    -fx-text-fill: #fff200;
    -fx-pref-height: 44px;
    -fx-start-margin: 10;
    -fx-end-margin: 10;
    -fx-padding: 6px;
}