
.body{
    -fx-background-color: #1a1a18 ;
    -fx-padding: 70;

}

.label{
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "B Koodak";
    -fx-padding: 12;
}


.button{
    -fx-font-size: 20px;
    -fx-font-family: "B Koodak";
    -fx-background-color: #fff200;
    -fx-text-fill: #231f20;
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.detailPane{
    -fx-background-color: #3a3a39;
    -fx-background-radius: 15;
    -fx-padding: 10;
    -fx-start-margin: 20;
    -fx-end-margin: 5;
    -fx-pref-width: 350;

}

.detailPane .label{
    -fx-text-fill: #fff200;
    -fx-font-size: 20px;
    -fx-font-family: "B Koodak";
    -fx-padding: 12;
}
.labelW .label{
    -fx-text-fill: #fff200;
    -fx-font-size: 20px;
    -fx-font-family: "B Koodak";
    -fx-padding: 12;
}

.tarh{
    -fx-start-margin: 25;
    -fx-end-margin: 25;
    -fx-padding: 25;
}
.progress-bar{
    -fx-accent: #58595b;
    -fx-text-box-border:#231f20;
    -fx-padding: 3px;
    -fx-pref-height: 35;
}
.progress-bar .track{
    -fx-background-color: #fff200;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.progress-bar .bar {
    -fx-background-color: #A30029;
    -fx-background-repeat: repeat-x;
    -fx-background-radius: 5px;
}

.hboxTime{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: #58595b;
    -fx-background-radius: 15;
    -fx-padding: 5;
    -fx-start-margin: 25;
    -fx-end-margin: 25;
    -fx-hgap: 10;
}

.vBoxTime{
    -fx-background-color: white;
    -fx-background-radius: inherit;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-pref-width: 110;
}

.vBoxTime .label{
    -fx-text-fill: #231f20;
    -fx-fill: #231f20;
    -fx-font-size: 15;
}


