@import url("main.css");
.progress-bar{
    -fx-accent: #58595b;
    -fx-text-box-border:#231f20;
    -fx-padding: 5px;
}
.progress-bar .track{
    -fx-background-color: #231f20;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.progress-bar .bar {
    -fx-background-color: #58595b;
    -fx-background-repeat: repeat-x;
    -fx-background-radius: 5px;
}