.button{
    -fx-border-color: white;
    -fx-font-size: 50px;
    -fx-font-family: "B Titr";
    -fx-background-color: #231f20;
    -fx-text-fill: #fff200;
    -fx-pref-width: 150;
    -fx-pref-height: 100;
    -fx-border-width: 0px;
    -fx-background-radius: 10px;
    -fx-padding: 0;
    -fx-spacing: 10;
}

.button:hover{
    -fx-background-color: #231f20;
    -fx-text-fill: #fff200;
    -fx-border-color: #fff200;
    -fx-border-width: 2;
}