@import url("main.css");

.body {
    -fx-background-color: #231f20;
    -fx-padding: 20px;
}

.label {
    -fx-font-size: 20px;
    -fx-padding: 5px;
    -fx-label-padding: 5px;
    -fx-font-family: "B Koodak";

}

.dark{
    -fx-text-fill: #fff200;
}

.label-title {
    -fx-font-size: 50px;
}

.pane {
    -fx-background-color: #231f20;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.text-field{
    -fx-background-color: #58595b;
    -fx-border-color: #58595b;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-pref-height: 45;
}

.button {
    -fx-font-size: 20px;
    -fx-font-family: "B Koodak";
    -fx-background-color: #fff200;
    -fx-text-fill: #231f20;
    -fx-pref-width: 100;
    -fx-pref-height: 45;
    -fx-border-width: 0px;
    -fx-background-radius: 10px;
    -fx-padding: 1;
    -fx-spacing: 10;
}
.menu-button{
    -fx-font-size: 20px;
    -fx-font-family: "B Koodak";
    -fx-background-color: #fff200;
    -fx-text-fill: #231f20;
    -fx-pref-width: 150;
    -fx-pref-height: 45;
    -fx-border-width: 0px;
    -fx-background-radius: 10px;
    -fx-padding: 0;
    -fx-spacing: 10;
}
.toggle-button {
    -fx-text-fill: #58595b;
    -fx-base: transparent;
    -fx-background: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: null;
    -fx-pref-width: 100;
    -fx-pref-height: 45;
}

.toggle-button:selected {
    -fx-text-fill: #fff200;
    -fx-base: transparent;
    -fx-background: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: null;
}

.table-view{
    -fx-background-color: #58595b;
    -fx-hgap: 10;

}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #fff200;
    -fx-padding: 10;

}

.table-row-cell {
    -fx-background-color: black;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

/* Text in the rows will be white */
.table-row-cell .text {
    -fx-fill: white ;
    -fx-alignment: center;
}

/*
Pseudo class 'up' will change the row background
 color to green when activated
 */
.table-row-cell:up
{
    -fx-background-color: #007054;
}

/*
Pseudo class 'down' will change the row background
color to red when activated
*/
.table-row-cell:down {
    -fx-background-color: #A30029;
}