@import url("main.css");

.text-field{
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-focus-traversable: true;
    -fx-background-radius: 10px;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-border-width: 1;

}
.text-field:focused{
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-focus-traversable: true;
    -fx-background-radius: 10px;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-border-width: 1;

}
.label{
    -fx-font-size: 25px;
    -fx-padding: 5px;
    -fx-label-padding: 5px;
    -fx-font-family: "B Koodak";
}
.label-title{
    -fx-font-size: 50px;
}
.button{
    -fx-font-size: 20px;
    -fx-font-family: "B Koodak";
    -fx-background-color: #231f20;
    -fx-text-fill: #fff200;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-max-height: 40;
}