.body{
    -fx-background-color: #fff200;
    -fx-max-height: 1000;
    -fx-min-height: 100;
    -fx-pref-height: 1000;
    -fx-max-width: 1920;
    -fx-min-width: 1920;
    -fx-pref-width: 1920;
    -fx-padding: 20;
}

.button{
    -fx-font-size: 20px;
    -fx-font-family: "B Koodak";
    -fx-background-color: #231f20;
    -fx-text-fill: #fff200;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover{
    -fx-background-color: #fff200;
    -fx-text-fill: #231f20;
    -fx-border-color: #231f20;
    -fx-border-width: 2;
}

/*.button:focused{*/
    /*-fx-background-color: #231f20;*/
    /*-fx-text-fill: #fff200;*/
    /*-fx-border-color: #fff200;*/
    /*-fx-border-width: 2;*/
/*}*/

.labelButton{
    -fx-font-size: 20px;
    -fx-font-family: "B Koodak";
    -fx-background-color: #231f20;
    -fx-text-fill: #fff200;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
