@import url("main.css");
@import "freeUseButton.css";

.body {
    -fx-background-color: #231f20;
    -fx-padding: 20px;
}


.label {
    -fx-font-size: 25px;
    -fx-padding: 5px;
    -fx-label-padding: 5px;
    -fx-font-family: "B Koodak";
}

.label-title {
    -fx-font-size: 50px;
}

.pane {
    -fx-background-color: #231f20;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.button {
    -fx-border-color: white;
    -fx-font-size: 50px;
    -fx-font-family: "B Titr";
    -fx-background-color: #fff200;
    -fx-text-fill: #231f20;
    -fx-pref-width: 150;
    -fx-pref-height: 100;
    -fx-border-width: 0px;
    -fx-background-radius: 10px;
    -fx-padding: 0;
    -fx-spacing: 10;
}

.menue {
    -fx-font-size: 40px;
    -fx-font-family: "B Koodak";
    -fx-background-color: #fff200;
    -fx-text-fill: #231f20;
    -fx-pref-width: 200;
    -fx-pref-height: 60;
    -fx-border-width: 0px;
    -fx-background-radius: 10px;
    -fx-padding: 0;
    -fx-spacing: 10;
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
}