@import url("main.css");
.body{
    -fx-pref-width: 600;
    -fx-pref-height: 400;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-hgap: 10;
}
.text-field{
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-focus-traversable: true;
    -fx-background-radius: 10px;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-border-width: 1;

}
.text-field:focused{
    -fx-border-color: white;
    -fx-border-style: solid;

}
.label{
    -fx-font-size: 25px;
    -fx-padding: 5px;
    -fx-label-padding: 5px;
    -fx-font-family: "B Koodak";
}
